/* RANGE SLIDERS */

.ui-widget-header {
  background: #93d4ff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border-radius: 50%;
  border: none !important;
  background: #0075ad !important;
  font-weight: normal;
  color: unset;
  outline: none !important;
  cursor: pointer !important;
}
